name: publish
on:
  push:
    branches:
      - main


jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: publish
        run: ./ghapt publish

