name: publish
on:
  push:
    branches:
      - main


jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: publish
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github-actions@users.noreply.github.com"
          ./ghapt publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

